*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body {
  color: gray;
  overflow-x: hidden;
  font-size: 1.6rem;
}

/*Add extra padding to the container*/
.container{
  padding: 0px 7%;
}

h1 {
  color: #e3cbc1;
  font-size: 5.6rem;
}

.mt-10 {
  margin-top: 20rem;
}

/*Icons*/

[class*='fa-']{
  color: #e3cbc1;
  margin-right: 10px;
  margin-top: 20px;
}

[class*='fa-']:hover{
  transform: scale(1.1);
  color: #fbe7df;
  cursor: pointer;
}

/*Navbar---Navbar---Navbar---Navbar---Navbar**/
.navbar {
  z-index: 99999;
}

.navbar-light .navbar-brand {
  color: #e3cbc1;
  font-size: 2rem;
}
.navbar-light .navbar-brand:hover{
  color: #fbe7df;
}

.navbar {
  position: fixed;
}

/*Hero---Hero---Hero---Hero---Hero---*/

#hero {
  height: 100vh;
  position: relative;
  background: url('./images/cherry_blossom.png') no-repeat center center/ cover;
  animation: bgfade 8s;
}

.hero {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveup 1s forwards;
  animation-delay: 3s;
}

svg {
  font-family: 'Poppins', sans-serif;
  height: 10rem;
  width: 60rem;
}

text {
  font-size: 10rem;
}

.text-line text {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 5s linear forwards, filling 4s ease-in forwards;
}

.petals {
  height: 3rem;
  background: url('./images/petals.png') no-repeat center center/ cover;
}

/*About---About---About---About---About---*/
#about-me {
  background: url('./images/petals.png') no-repeat center center/ cover;
}

.contact-icons {
  display: block;
  text-align: center;
}

.img-wrapper {
  width: 87%;
  margin: auto;
}

.img-wrapper img {
  width: 100%;
}

.about-me-greeting,
.signature,
.navbar-brand {
  font-family: 'Pacifico';
  color: #e3cbc1;
}

.about-me-par {
  text-indent: 30px;
}

.signature {
  float: right;
}


/*Skills---Skills---Skills---Skills---Skills--- */
ul {
  list-style-type: none;
}

.skills{
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: #aeaeae;
  line-height: 5rem;
  position: relative;
}

.skills h2 {
  font-size: 3rem;
  color: #aeaeae;
  line-height: 5rem;
}

.front-end-skills::before, .back-end-skills::before, .other-skills:before{
  position: absolute;
  content: '';
  display: inline-block;
  font-size: 2rem;
  /* border: 1px solid red; */
  transform: rotate(-90deg);
  top: 5rem;
  left: 8%;
  color: #e3cbc1;
  text-align: right;
}

.front-end-skills::before{
  content: 'Front-end Skills';
}
.back-end-skills::before{
  content: 'Back-end Skills';
}
.other-skills::before{
  content: 'Other Skills';
  top: 3rem;
}

/*Project---Project---Project---Project---Project--- */
#projects .row {
  margin-bottom: 5rem;
}

.project-description span {
  color: #e3cbc1;
  font-family: 'Pacifico';
  font-size: 3rem;
}

.project-description {
  display: flex;
  align-items: center;
}

.img-container, .carousel-item{
  overflow: hidden;
}

.tech-stack {
  color: #e3cbc1;
  font-weight: bold;
}

.carousel-item > img,.img-container > img {
  width: 100%;
  transition: transform .5s;
}

.carousel-item:hover img, .img-container:hover img {
  transform: scale(1.2);
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert();
}

/*Contact---Contact---Contact---Contact---Contact---*/
form {
  width: 90%;
  margin: auto;
}

input[type="text"],
textarea{
  border: 2px solid #e3cbc1;
  border-radius: 5px;
  padding: 8px;
}

.form-full-name {
  display: flex;
  justify-content: space-between;
}

.form-full-name > * {
  width: 49%;
}

textarea,
.subject {
  width: 100%;
  margin: 1% 0;
}

.btn-chat {
  font-size: inherit;
  background-color: #e3cbc1;
  color: white;
  margin: 2rem auto;
  display: block;
}

input:focus,
textarea:focus{
  outline-width: 5px;
  outline-color: #fbe7df;
}

#contact {
  background: url('./images/footer_petals.png') no-repeat bottom center/ cover;
}

/*Animations*/
@-webkit-keyframes bgfade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes moveup {
  from {
    top: 55%;
  }
  to {
    top: 50%;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes filling {
  from {
    fill: #e3cbc1;
    fill-opacity: 0;
  }
  to {
    fill: #e3cbc1;
    fill-opacity: 1;
  }
}

/*Queries*/
@media screen and (max-width: 640px) {
  text {
    font-size: 6.5rem;
  } 
}

@media screen and (max-width: 765px) {
  .skills{
    text-align: center;
  }
  .about-me-greeting {
    display: block;
    text-align: center;
  }
  .mt-10{
    margin-top: 50px;
  }
  .project-description{
    margin-top: 3rem;
  }
}

@media(max-width: 900px){
  .navbar{
    position: static;
  }
  .about-me-text{
    text-align: center;
  }
}

@media(max-width: 1400px){
  .front-end-skills::before, .back-end-skills::before, .other-skills:before{
    display: none;
  }
}

